html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h4{
	font-size: 21px;
  	font-family: "Tahoma";
  	color: rgb( 0, 0, 0 );
  	font-weight: bold;
  	line-height: 1.333;
	padding-bottom: 8px;
}
h5{
	font-size: 18px;
  	font-family: "Tahoma";
  	color: rgb( 0, 0, 0 );
  	font-weight: bold;
  	line-height: 1.056;
	padding-bottom: 8px;
}
p{
	font-size: 14px;
  	font-family: "Times New Roman";
  	color: rgb( 141, 141, 141 );
  	line-height: 1.429;
}
.container{
	width: 65%;
	margin: 0 auto;
	position: relative;
}
.block{
	padding: 15px 0px;
	position: relative;
}
.bgGray{
	background-color: #f0f0f0;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.w-50{
	width: 50%;
}
.w-25{
	width: 25%;
}
.mr-2{
	margin: 20px 20px 20px 10px;
}
.ml-2{
	margin: 20px 10px 20px 20px;
}
.main{
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.menu li{
	display: inline-block;
}
.menu li a{
	text-decoration: none;
	font-family: "Tahoma";
  	color: rgb( 0, 0, 0 );
  	font-weight: bold;
  	padding-left: 10px;
}
.menu li a:hover{
	color: #b4362d;
}
.mainImage{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	object-fit: cover;
}
button{
	background-image: -moz-linear-gradient( 90deg, #b4362d 0%, #da4137 100%);
    background-image: -webkit-linear-gradient( 90deg, #b4362d 0%, #da4137 100%);
    outline: none;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-transition: all 850ms ease;
    -moz-transition: all 850ms ease;
    -o-transition: all 850ms ease;
    transition: all 850ms ease;
}
button:hover{
	cursor: pointer;
	background-image: -moz-linear-gradient( 90deg, #da4137 0%, #b4362d 100%);
    background-image: -webkit-linear-gradient( 90deg, #da4137 0%, #b4362d 100%);
}
#mobileNavOpener{
    cursor: pointer;
    position: absolute;
    padding: 17px 0 20px 4px;
    right: 0px;
    display: none;
}
#mobileNavOpener div{
    cursor: pointer;
    position: relative;
    height: 3px;
    width: 25px;
	background: black;
}
#mobileNavOpener::before{
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    height: 3px;
    width: 25px;
    background: black;
    opacity: 1;
    -webkit-transition: all 850ms ease;
    -moz-transition: all 850ms ease;
    -o-transition: all 850ms ease;
    transition: all 850ms ease;
}
#mobileNavOpener.open::before{
    -moz-transform: rotate(495deg);
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    top: 17px;
}
#mobileNavOpener.open::after{
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 17px;
}
#mobileNavOpener.open div{
    opacity: 0;
}
#mobileNavOpener::after{
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    height: 3px;
    width: 25px;
    background: black;
    -webkit-transition: all 850ms ease;
    -moz-transition: all 850ms ease;
    -o-transition: all 850ms ease;
    transition: all 850ms ease;
}
.mobileNavMenu{
	display: block;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 2;
    padding: 7px;
    background: rgba(255,255,255,0.8);
}
.icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons_item{
	display: flex;
	align-items: center;
}
.icons_item p{
	padding-left: 10px;
	font-style: italic;
	line-height: 1.286;
	color: black;
}


@media screen and (max-width: 1400px){
	.container{
		width: 75%;
	}
}
@media screen and (max-width: 1200px){
	.container{
		width: 80%;
	}
}
@media screen and (max-width: 992px) {
	.container{
		width: 85%;
	}
}
@media screen and (max-width: 767px) {
	.container{
		width: 96%;
	}
	#mobileNavOpener{
		display: block;
	}
	.menu{
		display: none;
	}
	.menu li{
		display: block;
		padding: 4px 0px;
	}
	.icons{
		flex-direction: column;
	}
	.icons_item{
		width: 160px;
		padding: 7px 0px;
	}
	.icons img{
		width: 40px;
		height: auto;
	}
	.bgGray{
		flex-direction: column;
	}
	.bgGray .w-50{
		width: 100%;
	}
	.mr-2, .ml-2{
		margin:20px;
	}
	.mr-2{
		margin-top: 0px;
	}
}


